<md-card flex="5">
	<md-card-content>
	<div ng-if="0 === goals.length">
		<md-progress-circular md-mode="indeterminate" md-diameter="24"></md-progress-circular>
		Awaiting first goal ...
	</div>

	<md-button ng-if="goals.length" href>End session</md-button>
	</md-card-content>
</md-card>

<md-list flex>
	<md-item ng-repeat="goal in goals | limitTo:100 track by goal.id">
		<md-card>
			<md-card-content>
				<blockquote cite="{{ goal.url }}">
					<p>{{ goal.text }}</p>
				</blockquote>
			</md-card-content>
		</md-card>
	</md-item>
</md-list>
