<div layout="column" layout-wrap>
	<md-card flex="5">
		<md-card-content>
			<md-subheader>
				Tracking goals through <em>{{ keyword }}</em>
			</md-subheader>

			<md-button ng-if="goals.length" href ui-sref="commit">End session</md-button>
		</md-card-content>
	</md-card>

	<md-card flex="95">
		<md-card-content>
			<div ng-if="0 === goals.length">
				<md-progress-circular md-mode="indeterminate" md-diameter="24"></md-progress-circular>
			</div>

			<md-list ng-if="0 < goals.length">
				<md-item ng-repeat="goal in goals track by goal.id">
					<md-item-content>
						<div class="md-tile-left">
							<img src ng-src="{{ goal.user.profile_image_url }}" class="face">
						</div>
						<div class="md-tile-content">
							<p>
							<strong>{{ goal.user.name }}</strong><br>
							{{ goal.text }}
							</p>
						</div>
					</md-item-content>
				</md-item>
			</md-list>
		</md-card-content>
	</md-card>
</div>
