<div layout="row" flex>
    <div flex="20" layout="column">
        <md-card>
            <md-card-content>
                <h3>Set SMART goals</h3>

                <md-divider></md-divider>

                <ol>
                    <li><strong>S</strong>pecific</li>
                    <li><strong>M</strong>easurable</li>
                    <li><strong>A</strong>ttainable</li>
                    <li><strong>R</strong>elevant</li>
                    <li><strong>T</strong>ime-bound</li>
                </ol>
                <md-divider></md-divider>
                <blockquote>
                    I want to pass the Cross Cultural Management quiz at the start of the first lecture.
                </blockquote>
            </md-card-content>
        </md-card>
    </div>
    <div flex="40" layout="column">
        <md-card>
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/aVstw9HYl-o" frameborder="0" allowfullscreen></iframe>

            <md-card-content>
                <p>
                    Action verbs to keep in mind:
                    <br>
                    reach, achieve, implement, define, build, create, etc.
                </p>

                <div ng-if="'stream.list' | isState">
                    <p>Now it's your turn:</p>

                    <md-input-container>
                        <label>My goal</label>
                        <input type="text" name="goal" ng-model="goal" placeholder="I want to { verb } { objective } { when }">
                    </md-input-container>

                    <md-button>Add goal</md-button>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex="40">
        <div ui-view></div>
    </div>
</div>
